@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Noto+Sans+Tamil:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
:root{
    --primary: #12bdff;
    --primary-color:#1b1f24;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}

.logo{
    font-weight: bold;
    color:var(--primary);
    letter-spacing: 2px;
}

header{
    background-color:#1b1f24;
    padding: 20px;
    color:white;
    display:flex ;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    
}
ul > li{
    display: flex;
    margin-right: 10px;
    
}
ul li a{
    color: white;
    text-decoration: none;
}
ul li a:hover{
    color: var(--primary);
}
header button{
    padding: 10px 20px;
    font-weight: bold;
    color: var(--primary-color);
    border:1px solid var(--primary);
    color: var(--primary);
    background-color:#1b1f24;
    border-radius: 5px;
}
header button:hover{
    cursor: pointer;
    background-color: var(--primary);
    color: white;
}

 /* Hero Section */
 section.hero-section{
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    padding: 20px 30px 0 30px;
 }
 .hero-section-title{
    font-size: 48px;
    font-weight: bold;
 }
 .hero-section-desc{
    color: #12bdff;
 }
